modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg", "imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3000

[env]
PORT = "5000"

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_log_in_with_replit:2.0.0", "javascript_object_storage:1.0.0", "javascript_database:1.0.0", "javascript_openai:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
STRIPE_PRICE_MONTHLY = "price_1TDD7kIKeiiO81pl2nj2Idxz"
STRIPE_PRICE_MONTHLY_NO_TRIAL = "price_1TDDfpIKeiiO81plUjII3xIF"
STRIPE_PRICE_ANNUAL = "price_1TDD7kIKeiiO81plM6B0Qr6E"
STRIPE_PRICE_ANNUAL_NO_TRIAL = "price_1TDDfqIKeiiO81plo93fQrL5"
STRIPE_PRICE_ANNUAL_ABANDONMENT = "price_1TDD7kIKeiiO81plWbH5mvUP"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
